<% @posts.each do |post| %>
  <div id="<%= resource_name(post) %>-<%= post.id %>" class="post"><%= post.score %> - <a href="/<%= resource_name(post) %>/<%= post.id %>"><%= post.title %></a></div>
<% end %>
